<script context="module">
	// load data
	export async function load({ fetch }) {
		// request data from endpoint
		const posts = await fetch('/posts.json').then((r) => r.json());

		// assign it to the variable
		return {
			props: { posts }
		};
	}
</script>

<script>
	import PostCard from '/src/components/post-card.svelte';
	export let posts;
</script>

<svelte:head>
	<title>kir0ul.org</title>
	<meta
		name="description"
		content="Andrea PIERRÉ's personal website & blog created with SvelteKit!"
	/>
</svelte:head>

<main>
	{#each posts as post}
		<PostCard {...post} />
	{/each}
</main>

<style>
	main {
		padding: 4vw;
	}
</style>
