<script context="module">
	// export const prerender = false;
	export async function load({ fetch, params }) {
		// request post from [url].json.js endpoint
		// const post = await fetch(`/posts/${page.params.url}.json`).then((r) => r.json());
		const post = await fetch(`/posts/${params.url}.json`).then((r) => r.json());
		return {
			props: { post }
		};
	}
</script>

<script>
	export let post;
</script>

<svelte:head>
	<title>{post.attributes.title}</title>
	<meta name="description" content={post.attributes.description} />
</svelte:head>

<article>
	<h1 class="section-header">{post.attributes.title}</h1>
	<!-- display HTML parsed content as HTML -->
	{@html post.html}
</article>

<style>
	:global(article) {
		padding: 4vw;
	}
</style>
