body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
	margin: 0;
	font-weight: 100;
	font-size: 20px;
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
